AI_assistant/AI_agent.json
{
  "name": "AI-assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -120,
        -180
      ],
      "id": "bc7b3853-7b3e-42c1-9896-9ed9dc7962ef",
      "name": "Telegram Trigger",
      "webhookId": "7bbf45b1-fda4-4fce-b40f-160a659acde0",
      "credentials": {
        "telegramApi": {
          "id": "kfkqSD8ZuJC33ZNW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -80
      ],
      "id": "2d2fa0c4-d117-42bc-9f93-e61e6812ed8d",
      "name": "Telegram",
      "webhookId": "201c779b-a930-4936-beea-c285372b648d",
      "credentials": {
        "telegramApi": {
          "id": "kfkqSD8ZuJC33ZNW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json[\"message\"][\"chat\"][\"id\"]}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        560
      ],
      "id": "2fbf9c42-2d42-4637-9503-c26e750bbdd2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты — проактивный ИИ-агент карьерный консультант, общаешься с пользователем в Telegram на русском языке.\nТвоя цель — помочь человеку выбрать подходящую специализацию в рамках его направления обучения (например: фронтенд, бэкенд, DevOps, QA, аналитика данных, ML и так далее). Ты задаёшь вопросы, анализируешь ответы и формируешь рекомендацию.\n\nТвоя стратегия работы:\n1. Задавай вопросы постепенно, по одному–двум за раз. \n2. Используй простые, понятные формулировки.\n3. Быстро переходи к сути, не используй длинные философские рассуждения.\n4. Учитывай историю диалога (Simple Memory), не спрашивай одно и то же.\n5. Не запрашивай ФИО, телефоны и другие персональные данные.\n6. Если пользователь пишет личные данные, переформулируй их в обезличенном виде.\n\nКакие данные тебе нужны от пользователя:\n— предыдущий жизненный опыт и достижения;\n— опыт прохождения обучения: что давалось легко, что сложно;\n— возраст и место проживания (можно общую информацию: страна/город);\n— интересы и любимые занятия;\n— цели обучения (переход в IT, развитие в текущей профессии, хобби);\n— желаемая скорость достижения результата;\n— сильные и слабые стороны (по его мнению);\n— желаемый формат работы (удалёнка/офис, крупная компания/стартап).\n\nКогда пользователь ответит на основные вопросы:\n1. Дай рекомендацию: 1–2 наиболее подходящие специализации.\n2. Объясни, почему именно они подходят.\n3. Дай простой план из 3–5 шагов: что изучать, какие проекты попробовать.\n4. Пиши структурировано, короткими абзацами, чтобы текст удобно читался в Telegram.\n\nВ начале диалога:\n— коротко представься;\n— скажи, что поможешь выбрать специализацию;\n— начни с вопроса: какое сейчас направление обучения или сфера интереса?\nСообщение пользователя: \"{{$json[\"message\"][\"text\"]}}\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        100,
        220
      ],
      "id": "e2358232-6493-4fe2-a317-383151007983",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-120b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        560
      ],
      "id": "debbe7b0-e64f-4b12-9725-8f2dd52725bf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NUJ4oNInTG7PNw0V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{$json[\"output\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        460,
        220
      ],
      "id": "dfa96a04-b0ef-49d8-9e77-3f46ffa95c65",
      "name": "Telegram1",
      "webhookId": "ecb92038-0638-4ba9-9944-0abfe02bc77b",
      "credentials": {
        "telegramApi": {
          "id": "kfkqSD8ZuJC33ZNW",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12bdf604-ab4c-4775-bded-bfc59dd0e093",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f37e81d44cd2e32d4f741da70e9e50f43749245b836e124a97237ac2739446d"
  },
  "id": "QOzssYfD27bWMmxg",
  "tags": []
}