Data_science_bot/News digest.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://fetchrss.com/feed/aSNNLbMWIZGCaSYzTEwh99cz.rss",
        "options": {}
      },
      "id": "abb2a294-71fe-41ef-8c87-efeeca46a506",
      "name": "RSS Read 1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://fetchrss.com/feed/aSNNLbMWIZGCaSNk8d1EXwGj.rss",
        "options": {}
      },
      "id": "5b7f0801-43f8-49f2-a226-9f4422934eec",
      "name": "RSS Read 2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        432,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://fetchrss.com/feed/aSNNLbMWIZGCaSNnLUtQuUkT.rss",
        "options": {}
      },
      "id": "d3f94381-69ed-4a1a-bc74-1da1189fd150",
      "name": "RSS Read 3",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "functionCode": "return items.map(i => {\n  const url = String(i.json.link || \"\");\n  const channel = url.split(\"/\")[3] || \"unknown\";\n\n  const html =\n    i.json[\"content:encoded\"] ||\n    i.json.content ||\n    i.json.description ||\n    \"\";\n\n  const htmlStr = String(html);\n\n  const textOnly = htmlStr.replace(/<[^>]+>/g, \" \");\n\n  return {\n    json: {\n      channel,           \n      raw: textOnly.trim(), \n      link: url,      \n      title: i.json.title || \"\"\n    }\n  };\n});"
      },
      "id": "c37a26b3-6456-4851-8c16-3425251cb963",
      "name": "Normalize Posts",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        928,
        160
      ]
    },
    {
      "parameters": {
        "batchSize": 15,
        "options": {}
      },
      "id": "0bbc0b8c-ef15-481c-a435-f4b3f3d4ceb6",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1200,
        160
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "inner"
      },
      "id": "f17324c6-dcbc-49d5-95cb-dce2e74e5b3c",
      "name": "Merge Summaries",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1808,
        144
      ]
    },
    {
      "parameters": {
        "functionCode": "const groups = {};\n\nitems.forEach(i => {\n  const ch = i.json.channel;\n  if (!groups[ch]) groups[ch] = [];\n\n  groups[ch].push({\n    summary: i.json.output || i.json.text || \"\",\n    link: i.json.link\n  });\n});\n\nreturn [{ json: { groups } }];"
      },
      "id": "013c7123-cfbd-4e59-8f3f-ccb089e8e1f1",
      "name": "Group By Channel",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2160,
        192
      ]
    },
    {
      "parameters": {
        "functionCode": "const groups = $node[\"Group By Channel\"].json.groups || {};\n\nlet overall =\n  $node[\"AI Agent1\"].json.output ||\n  $node[\"AI Agent1\"].json.text ||  \n  $node[\"AI Agent1\"].json.choices?.[0]?.message?.content ||\n  \"Общее резюме недоступно.\";\n\nlet out = \"📰 Дайджест новостей\\n\\n\";\nout += \"Общее саммари:\\n\" + overall + \"\\n\\n\";\n\nfor (const channel in groups) {\n  const allPosts = groups[channel];\n  const posts = allPosts.slice(0, 3); \n\n  out += `📌 ${channel} — ${posts.length} поста\\n`;\n\n  posts.forEach((p, idx) => {\n    const summary = p.summary || \"(нет описания)\";\n    const link = p.link || \"\";\n    out += `${idx + 1}) ${summary}\\n${link}\\n`;\n  });\n\n  out += \"\\n\";\n}\n\nconst MAX = 4000; \nif (out.length > MAX) {\n  out =\n    out.slice(0, MAX) +\n    \"\\n\\n[Сообщение обрезано из-за лимита Telegram]\";\n}\n\nreturn [\n  {\n    json: {\n      text: out,\n    },\n  },\n];"
      },
      "id": "d175fe89-e634-4f1d-8833-0d6ad02d145a",
      "name": "Format Digest",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2736,
        192
      ]
    },
    {
      "parameters": {
        "chatId": "=-1003356586906",
        "text": "={{$json[\"text\"]}}",
        "additionalFields": {}
      },
      "id": "fa52007f-8c82-48e4-92a3-b9b4cb2ce9e7",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2976,
        192
      ],
      "webhookId": "eccf702c-8d6c-461f-b389-95ab62435c60",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "oJPbdmTM0V3lk7ol",
          "name": "Бот парсер с постами"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        688,
        160
      ],
      "id": "d2d180e8-aae3-4e56-a229-8a78e0555aeb",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        144
      ],
      "id": "51ab5646-ff80-436e-a1bc-3cbc0fef3e87",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты ассистент, который делает краткое, точное и правдивое описание поста.\nРаботай строго с текстом, который передан ниже.\nНе используй и не придумывай названия каналов, юзернеймы или ссылки.\nНе добавляй новых фактов и оценок.\n\nСформулируй 1–2 коротких предложения, которые точно передают смысл поста:\n\n{{$json.raw}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1440,
        304
      ],
      "id": "9de24fa8-64fe-4ca5-a081-1aaeca455e0a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        592
      ],
      "id": "2d12efe8-de98-4021-ae4c-3f8ca67acc69",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "NUJ4oNInTG7PNw0V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2416,
        560
      ],
      "id": "b7eba57a-2a04-4b56-889e-55d5d3890871",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "NUJ4oNInTG7PNw0V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты ассистент, который делает общий обзор новостей.\nВот краткие описания новостей за день, сгруппированные по каналам:\n\n{{ JSON.stringify($json.groups) }}\n\nСделай один абзац общего саммари: какие темы обсуждали, что важного произошло.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2384,
        192
      ],
      "id": "9754f9b4-f1ca-45e8-b354-93516c33c521",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize Posts": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Merge Summaries",
            "type": "main",
            "index": 1
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Summaries": {
      "main": [
        [
          {
            "node": "Group By Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group By Channel": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Digest": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Normalize Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Format Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbfa1ad7-5427-4a25-afce-cc6cbff02123",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f37e81d44cd2e32d4f741da70e9e50f43749245b836e124a97237ac2739446d"
  },
  "id": "Ds17lk7zwMSXq8VE",
  "tags": []
}